/*-------------------
Style Sheet for Portfolio page

author: Nick Nelson
email: nnelson263@gmail.com
website: nicknelson.io
---------------------*/

/*
  Vendor imports (libs etc)
*/
@import 'vendor/normalize.css';
@import 'vendor/browserupgrade.css';

/*
  Our imports
*/
@import 'lib/style.css';

@import 'lib/body.css';
@import 'lib/body-desktop.css' (min-width: 800px);

@import 'lib/transition.css';